MONGODB_URI=mongodb://username:password@localhost:27017/
SERVER_ADDR="localhost:8080"
DB_NAME=test
FRONTEND=http://localhost:5173
CLIENT_ID=never-gonna-give-you-up.apps.googleusercontent.com
CLIENT_SECRET=never-gonna-let-you-down
SESSION_HASH_KEY="generate with openssl rand -hex 16"
SESSION_BLOCK_KEY="generate with openssl rand -hex 16"
JWT_SECRET="generate with openssl rand -hex 16"
IS_PROD=false
REFRESH_TOKEN_AGE_DAYS=7
MAX_COOKIE_AGE_DAYS=30
EMAIL=domain@example.com
EMAIL_PASSWORD="never gonna give you up"
EMAIL_PROVIDER="nevergonna.let.you.down.com"
EMAIL_PROVIDER_PORT=42069